
.cnt-main-app{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 16px;
  .title-app{
    font-size: 40px;
    font-weight: 800;
    padding: 16px;
  }
  
  .sub-title-app{
    font-size: 24px;
    font-weight: 600;
    padding: 16px;
  }
}


.cnt-header-result{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.cnt-body-result{
  width: 50%;
  padding: 24px;
}